#overlay {
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
}
.signBox {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
#signingBox {
    margin-top: -6rem;
    min-height: 18rem;
    width: 50rem;
    background-color: #D9D9D9;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
}
#signingBox > .Advertise_Box {
    width: calc(50% - 0.05rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;

    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
#signingBox > .Advertise_Box > img {
    width: 80%;
    display: inline-block;
}
#signingBox > .Advertise_Box > p {
    all: unset;
    display: inline-block;
    width: 80%;
    text-align: center;
}
#signingBox > .divider {
    width: 0.1rem;
    height: 16rem;
    background-color: #585F91;
}

#signingBox > .form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: calc(50% - 0.05rem);
    /* height: 16rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
#signingBox > .form > a {
    color: #1F2278;
    cursor: pointer;
}
#signingBox > .form > header {
    all: unset;
    font-size: 2rem;
    font-weight: 600;
    color: #1F2278;
}
#signingBox > .form > p {
    all: unset;
    margin: 0.5rem 0px 0rem 0px;
    text-align: center;
}


#signingBox > .form > input {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    border: 0.1rem solid #585F91;
    border-radius: 0.2rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    /* color: ; */
}
#signingBox > .form > .e {
    margin-top: 1.5rem;
}
#signingBox > .form > button {
    cursor: pointer;
    border: 0;
    font-size: 1.2rem;
    background-color: #1F2278;
    color: white;
    margin-top: 1rem;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

#termsAndConditions {
    margin-top: -6rem;
    /* min-height: 18rem; */
    width: 50rem;
    background-color: #D9D9D9;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    padding: 1rem 2.5rem 2rem 2.5rem;
}
#termsAndConditions > header {
    font-size: 1.4rem;
    font-weight: 500;
}
#termsAndConditions > p {
    /* width: 90%; */
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}
#termsAndConditions > div {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
#termsAndConditions > div > button {
    cursor: pointer;
    border: 0;
    border-radius: 0.3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
#termsAndConditions > div > .active {
    color: white;
    background-color: #877EE6;
}





#overlay {
    display: none;
}
#signingContainer {
    display: none;
}
    #signingBox {
        display: none;
    }
        #signIn {
            display: none;
        }
        #signUp {
            display: none;
        }
    #termsAndConditions {
        display: none;
    }
